.App {
  text-align: center;
  max-height: 1000vh;
  background-color: rgba(75, 68, 68, 0.783);
  width: 70%;
  margin: 0 auto;
  padding: 7px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alive{
  background-color: black;
}

.dead{
  background-color: white;
}
table{
  margin: 30px auto;
  border: 1px solid rgb(0, 166, 255);
  max-width: 60%;
  /* height: auto; */
  background-color: white;

}
h1{
  color: white;
  padding-top: 20px;
  margin: 0;
}
td{
  width: 2px;
  height: 2px;
}

button{
  border-radius: 5px;
  margin: 7px;
  padding: 5px 10px;

}
button:focus {outline:0;}
span{
  margin-right: 20px;
}

.upper{
  color: white;
}
.lower{
  margin-bottom: 10px;
}
label{
  font-size: .8rem;
  color: white;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}
.option{
  margin: 10px;
}

.dim-control{
  display: flex;
  justify-content: center;
}

.dim-span{
  margin-top: 15px;
  margin-left: 1rem;
  font-size: .8rem;
}

input{
  width: 7%;
  text-align: center;
  margin-right: 1.3rem;
}